body{
    background: #3A4655;
}
.calc-body {
    width: 275px;
    margin: auto;
    min-height: 400px;
    box-shadow: 0 8px 50px -7px black;
    background: #3A4655;
}
/*Calculator Display Screen*/
.calc-screen {
    padding: 1rem;
}
#calc-operation {
    font-size: 1.3rem;
    text-align: right;
    color: #727B86;
    padding-bottom: .5rem;
}
#calc-typed {
    font-size: 2rem;
    text-align: right;
    color: #fff;
}
/*Calculator Buttons*/
.calc-button-row{
    display: table;
}
.calc-button-row button {
    display: table-cell;
    width: 25%;
    background: #425062;
    color: #fff;
    height: 65px;
    font-size: 1.3rem;
    border: none;
    border-color:#3C4857;
    border-width: 1px 1px 0px 0;
    border-style: solid;
}
.calc-button-row button.ac {
    color: #ff7665;
}
.calc-button-row button.opt {
    color: #ffbc56;
}
/*The border has been managed in every fourth button so that the design will not distract.*/
.calc-button-row button:nth-child(4n){
    border-right: none;
}
.calc-button-row button:active {
    position: relative;
    top: 1px;
}

/* 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1 class="mt-5" style="text-align: center;color: white;">Calculator</h1>
     <div class=" calc-body">

                <!-- Calculator Display Screen -->
                <div class="calc-screen">
                    <div id="calc-typed">
                        <input id="result" type="text" class="form-control">
                    </div>
                </div>

                <!-- Calculator Buttons -->
                <div class="calc-button-row">
                    
                    <button id="seven" onclick=""  >7</button>
                    <button id="eight" onclick="" >8</button>
                    <button id="nine" onclick="">9</button>
                    <button id="mul" onclick="" class="opt">&#215;</button>
                    <button id="four"onclick="" >4</button>
                    <button id="five" onclick="" >5</button>
                    <button id="six" onclick="">6</button>
                    <button id="sub" onclick="" class="opt">&#8722;</button>
                    <button id="one" onclick="" >1</button>
                    <button id="two" onclick="">2</button>
                    <button id="three" onclick="">3</button>
                    <button id="add" onclick="" class="opt">&#43;</button>
                    <button id="ac" onclick="" class="ac"  >AC</button>
                    <button id="zero" onclick=""  class="opt">0</button>
                    <button id="div" onclick=""  class="opt">&#247;</button>
                    <button id="equal" onclick=""  class="opt">&#61;</button>
                    <!-- <button id="del" onclick="" >&#9003;</button> -->
 
                </div>
            </div>
</body>
<!-- link js file  -->
<script src="./calc.js"></script>
</html>
 */
